body {
    height: 100vh;
    font-family: "Nunito Sans";
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

img {
    width: 70px;
    border-radius: 50px;
}

.button-container button {
    color: aliceblue;
    border-radius: 50px;
    padding: 0px;
    border: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
}

.button-container button:active {
    width: 73px;
    height: 73px;
}

.reset-button {
    margin-top: 24px;
    border-radius: 50px;
    border: none;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    background-color: aliceblue;
    width: 70px;
    height: 35px;
}

.content {
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255, 255, 0.70);
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 350px;
}

.player-names {
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 35px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 90px;
}

.scoreboard p {
    font-size: 48px;
    margin: 0px;
    padding: 0px;
}

.score-message {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
}